<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>list dashboard</h1>
    <table>
      <thead>
        <th>Employee No</th>
        <th>Employee Name</th>
        <th>Employee salary</th>
        <th>Employee city</th>
      </thead>
      {% for employee in e1 %}
      <tr>
        <td>{{employee.name}}</td>
        <td>{{employee.ename}}</td>
        <td>{{employee.esal}}</td>
        <td>{{employee.ecity}}</td>
      </tr>
      {% endfor %}
    </table>

  </body>
</html>
